/ {
    aliases {
        userled = &pwm_led0;
        userbutton = &button0;
	};
};

&gmac{
	status="disabled";
};

&portb {
    gpio-controller;
    #gpio-cells = <2>;
    status = "okay";
    
    // Enable Pin Configuration
    enable_pin: enable {
        gpios = <1 GPIO_ACTIVE_HIGH>;
        gpio-hog;                     // Mark the pin as hogged
        //output-high;
        line-name = "BNO055 Enable Pin";  // Label for the enable pin
    };

    boot_pin: boot {
        gpios = <2 GPIO_ACTIVE_HIGH>;
        gpio-hog;                     // Mark the pin as hogged
        //output-high;
        line-name = "BNO055 Boot Pin";    // Label for the boot pin
    };
};

&portc {
    gpio-controller;
    #gpio-cells = <2>;
    status = "okay";

    //Reset Pin Configuration
    reset_pin: reset {
        gpios = <6 GPIO_ACTIVE_HIGH>; // Pin 28 for reset
        gpio-hog;                     // Mark the pin as hogged
        //output-high;
        line-name = "BNO055 Reset Pin";   // Label for the reset pin
    };
};

&sercom7 {
    //add your sensor binding here
	bno055: bno055@29 {
		status = "okay";
	 	compatible = "bosch,bno055";
        reg = <0x29>;
	    irq-gpios = <&portd 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
	 	use_xtal;
		label = "BNO055 SENSE";
	};
};






